/* latin-ext */
@font-face {
	font-family: 'poppins';
	font-style: normal;
	font-weight: 400;
	src: url(font/poppins.woff2) format('woff2');
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

#logo{
	text-align: right;
	background-color: #78D7F8 ;
	border: medium solid #78D7F8;
	direction: rtl;
	box-shadow: 50px;
	margin-bottom: 0;
	color: red;
	padding-right: 20px;
	box-sizing: 100px;
	border-radius: 10px;
	font-size: 50px;
}

#navbar{
	margin-top: 10px;
	text-align: center;
	background-color: #78D7F8;
	text-decoration: none;
	border-radius: 10px;
	font-size: 20px;
}

body {
    font-family: 'Signika', sans-serif;
}
 .bg-grey {
    background: #123690;
}

.navitem{
	text-decoration: none;
	color: red;
	padding: 20px
}

#tablestyle{
	background-color: chartreuse;
	text-align: center;
	margin-top: 50px;
	padding: 9px;
}

#ramzeobor{
	padding-top: 4px;
}

#submit{
	background-color: aqua;
	color: blacks;
	text-align: right;
}

.logo-footer {
    margin-bottom: 40px;
}
footer p, a {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #f6f5f0;
}

footer h6 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 40px;
	position: relative;
	color: #f6f5f0;
}

footer h6:after {
	position: absolute;
	content: "";
	background: grey;
	width: 12%;
	height: 1px;
	left: 0;
	bottom: -20px;
}

 .btn-footer {
	color: rgb(255, 0, 0);
	text-decoration: none;
	border: 1px solid;
	border-radius: 43px;
	font-size: 13px;
	padding: 7px 30px;
	line-height: 47px;
}

 .btn-footer:hover {
	text-decoration: none;
 }

.form-footer input[type="text"] {
	border: none;
	border-radius: 16px 0 0 16px;
	outline: none;
	padding-left: 10px;
}

::placeholder {
	font-size: 10px;
	padding-left: 10px;
	font-style: italic;
}

.form-footer input[type="button"] {
	border: none;
	background:#232323;
	margin-left: -5px;
	color: #fff;
	outline: none;
	border-radius: 0 16px 16px 0;
	padding: 2px 12px;
}

 .social .fa {
	color: grey;
	font-size: 22px;
	padding: 10px 15px;
	background: #3c3c3c;
}

 footer ul li {
	list-style: none;
	display: block;
}

footer ul  {
	padding-left: 0;
}

footer ul  li a{
	text-decoration: none;
	color: #f6f5f0;
	text-decoration:none;
}

a:hover {
	text-decoration: none;
	color: #f5f5f5 !important;
}

.logo-part {
border-right: 1px solid grey;
height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	color: #000000;

}

header {
	height: 100px;
	background: #123690;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #f6f5f0;
}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: url(images/eskele_tire.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	opacity: 80%;
}
 
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #f6f5f0;
}

.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background-color: #f6f5f0;
	height: 1000px;
	
}

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.wrapper p {
	margin: 15px;
	padding: 15px;
	font-size: 25px;
	color: #000000;
	line-height: normal;
	margin-left: 200px;
	margin-right: 200px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#keshti{
	width: 500px;
}

.list {
	text-align: right;
	margin-right: 300px;
	direction: rtl;
	font-size: 20px;
	color: #4600e9;
}

hr {
	margin-bottom: 15px;
	size: 10px;
}

#footer {
	background-color: #123690;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	
}
